/* .nav-bar-outer {
    margin-bottom: 100px;
}

.nav-bar-inner {
    padding: 10px 0 10px 0;
} */


/* ----------------------- Crypto List -----------------------*/
.coin-list-container {
    margin: 10px 50px 50px 50px;
    overflow: auto;
}
.crypto-list-coin-image {
    height: 25px;
}
.coin-list-coin-symbol {
    color: lightgray;
}
.coin-list-coin-name-group {
    cursor: pointer;
}
tr, td {
    padding: 10px 5px;
}

/* ----------------------- Navigation -----------------------*/
.nav-wrapper div {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}
.nav-wrapper div:hover {
    background-color: rgba(0,0,0,0.1);;
}

.sidenav div {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    cursor: pointer;
}

.sidenav div:hover {
    background-color: rgba(0,0,0,0.05);
} 


/* ----------------------- Account ------------------------- */

.account-container {
    /* text-align: center; */
    max-width: 600px;
    /* border: 1px solid lightgrey;

    margin-top: 1em; */


    /* position: fixed;
    left: 50%;
    transform: translate(-50%); */

    margin: 10px auto auto auto;
    /* width: 80%; */
    border: 2px solid grey;
    padding: 10px;

    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}

.account-container .user-info {
    /* max-width: 600px; */
    /* margin: auto; */
    border: 1px solid red;
    /* text-align: center; */
}

.account-container .group {
    border-bottom: 2px solid grey;
    padding: 10px;
    margin: 15px;
}

/* .account-container .password-section {
    border-top: 1px solid lightgrey;
} */

.row .input-field .input-border {
    box-shadow: none !important;
    border: 2px solid grey !important;
}

.input-label-right {
    margin-left: 10px;
}

.testtest {
    display: inline-block;
    border: 1px solid grey;
    width: 90%;
    text-align: center;
}




/* ----------------------- Modals -----------------------*/

.modal {
    max-width: 400px;
}
.modal .modal-content {
    padding-bottom: 0;
}

.input-spacing {
    margin-bottom: 0;  
}


.modal h4 {
    text-align: center;
}
.modal .modal-footer {
    text-align: center;
    margin-bottom: 25px;
}

.modal .modal-footer button:first-child {
    margin-right: 20px;
}

.helper-text.error {
    color: #F44336;
}


/* ----------------------- Search ----------------------- */
.search-result-coin {
    width: 100%;
    margin-bottom: 2px;
}

.coin-widgets-list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    flex-wrap: wrap;
}

.coin-widget {
    border: 1px solid black;
    width: 400px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: black 0px 0px 2px 1px;
    background-color: #26a69a;
    color: white;

    display: grid;
    grid-template-areas: 
        'name price value'
        'name price quantity';
    grid-gap: 2px;
    align-items: center;
    text-align: center;
}

/* .coin-widget > div {
    border: 2px solid red;
} */

.coin-widget-name {
    grid-area: name;
}
.coin-widget-price {
    grid-area: price;
}
.coin-widget-value {
    grid-area: value;
}
.coin-widget-quantity {
    grid-area: quantity;
}


/* ----------------------- crypto-viewer ----------------------- */
.coin-viewer {
    margin: auto;
    width: 80%;
}


/* ----------------------- Chart ----------------------- */

/* .chart-container {
    max-width: 800px;
} */





/* M----------------------- MY CUSTOM OUTLINE forms text input -----------------------*/
/* Bordered input boxes with text moving */
/* add custom-outlined to same class as input-field ie: className="input-field custom-outlined col s12" */

/* TODO: below seems to make everything scrollable on mobile fix! */

.input-field.custom-outlined > input {
    border: 2px solid lightgrey;
    border-radius: 4px;
    padding: 0 15px 0 15px;
    width: calc(100% - 2.5rem);
    margin-bottom: 0;
    transition: box-shadow, border-color 0.15s;
    /* float: none;
    display: block; */
}
.input-field.custom-outlined > input:focus:not([readonly]) {
    border-color: #26a69b;
    box-shadow: 0 1px 0 0px #26a69b;
}

.input-field.custom-outlined > label {
    left: 1.8rem;
}

.input-field.custom-outlined > label.active {
    background: white;
    border-left: 4px solid white;
    border-right: 4px solid white;    
}
.modal .input-field.custom-outlined > label.active {
    background: #fafafa;
    border-left: 4px solid #fafafa;
    border-right: 4px solid #fafafa;
}



/* crypto search auto complete */

/* .crypto-search-container, .crypto-search-container input {
    color: white;
} */
/* .crypto-search-container input {
    color: white;
    border: 2px solid lightgrey !important;
    border-radius: 4px;
    padding: 0 15px 0 15px;
    width: calc(100% - 2.5rem);
    margin-bottom: 0;
    transition: box-shadow, border-color 0.15s;
} */


/* .crypto-search-container i.prefix.active {
    color: white !important;
} */







/* 
#topbarsearch .input-field .prefix { 
    width:0rem !important;    
    }        
#topbarsearch nav ul li:hover, nav ul li.active {
        background-color: none !important;
    }
.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content{
    margin-left: 1rem !important;
    } */